<div class="card m-3">
  <h5 class="card-header">Id: {{ id }}</h5>
  <div class="card-body">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col"></div>
        <div class="form-group col-5">
          <label>userId</label>
          <input
            type="text"
            formControlName="userId"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.userId.errors }"
          />
          <div *ngIf="submitted && f.userId.errors" class="invalid-feedback">
            <div *ngIf="f.userId.errors.required">userId is required</div>
          </div>
        </div>
        <div class="form-group col-5">
          <label>Title</label>
          <input
            type="text"
            formControlName="title"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
          />
          <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required">Title is required</div>
          </div>
        </div>
        <div class="form-group col-5">
          <label>Body</label>
          <input
            type="text"
            formControlName="body"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.body.errors }"
          />
          <div *ngIf="submitted && f.body.errors" class="invalid-feedback">
            <div *ngIf="f.body.errors.required">Body is required</div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1">Update</button>
        &nbsp;
        <div class="btn btn-secondary" (click)="onReset()">Cancel</div>
        &nbsp;
        <div class="btn btn-danger" (click)="onDelete()">Delete</div>
      </div>
    </form>
  </div>
</div>
